---
import { css } from "root/styled-system/css";
import { Sprite } from "astro-icon";
import ExternalLink from "@/components/ExternalLink.astro";
import { SITE_REPOSITORY_URL } from "@/consts.ts";
import Icon from "@/components/Icon.astro";

const today = new Date();

const footerStye = css({
  display: "flex",
  flexDirection: "column",
  justifyContent: "center",
  alignItems: "center",
  gap: "0.5rem",
  p: { base: "2rem 2rem", sm: "2rem 3rem" },
  backgroundColor: { base: "#CACACA", _dark: "#1A1A1A" },
  color: { base: "#525252", _dark: "#B3B3B3" },
  fontSize: { base: "small", sm: "large" },
  fontFamily: "code",
});
---

<footer class={footerStye}>
  <div>
    &copy; {today.getFullYear()} hayapo. All rights reserved.
  </div>
  <div>
    This site is powered by
    <ExternalLink href="https://astro.build/" title="Astro">Astro</ExternalLink>
  </div>
  <div class={css({ display: "flex", gap: "1.0rem", alignItems: "center" })}>
    <Icon
      href={SITE_REPOSITORY_URL}
      title="Link to Github"
      color={css({ color: "githubThemed" })}
    >
      <Sprite name="mdi:github" />
    </Icon>
    <Icon href="/rss.xml" title="RSS feed">
      <Sprite name="mdi:rss" />
    </Icon>
  </div>
</footer>
