---
import { css } from "../../styled-system/css";
import ThemeSwitch from "./ThemeSwitch";
import { SITE_TITLE } from "../consts";
---

<header class={css({
  position: "sticky",
  top: 0,
  zIndex: 10,
})}>
  <nav class={
    css({
      height: "header",
      px: {base: "1rem" , sm: "3rem"},
      display: "flex",
      alignItems: "center",
      justifyContent: "space-between",
      borderBottom: "1px solid",
      base: {
        backgroundColor: "hsla(0, 0%, 99%, 0.95)",
        borderColor: "#A6A6A6",
      },
      _dark: {
        backgroundColor: "hsla(0, 0%, 14%, 0.95)",
        borderColor: "#797979",
      }
  })}
  >
    <a 
      href="/"
      title="Back to home"
      aria-label="Back to home"
      class={css({
        fontSize: "xx-large",
        fontWeight: "bold",
    })}>
      {SITE_TITLE }
    </a>
    <ThemeSwitch
      client:load
    />
  </nav>
</header>