---
import { css } from "root/styled-system/css";
import { SITE_BASE, SITE_TITLE } from "@/consts";

const headerStyle = css({
  height: "header",
  px: { base: "1rem", sm: "3rem" },
  display: "flex",
  alignItems: "center",
  justifyContent: "space-between",
  borderBottom: "1px solid",
  backgroundColor: {
    base: "hsla(0, 0%, 99%, 0.95)",
    _dark: "hsla(0, 0%, 14%, 0.95)",
  },
  borderColor: "borderAccent",
  backdropFilter: "blur 12px",
});
---

<header
  class={css({
    position: "sticky",
    top: 0,
    zIndex: 10,
  })}
>
  <nav class={headerStyle}>
    <a
      href=`${SITE_BASE}`
      title="Back to home"
      aria-label="Back to home"
      class={css({
        fontFamily: "code",
        fontSize: { base: "x-large", sm: "xx-large" },
        fontWeight: "bold",
        _hover: {
          color: "accent",
        },
      })}
    >
      {SITE_TITLE}
    </a>
  </nav>
</header>
