---
import { Icon } from "astro-icon/components";
import { css } from "root/styled-system/css";

interface Props {
  href: string;
  title: string;
	name: string;
  size?: string;
  color?: string;
	isZenn?: boolean;
}

const ICON_SIZE = "3rem";
const MOBILE_ICON_SIZE = "1.5rem";

const { href, title, name, size, color, isZenn } = Astro.props;
const iconSize = size ?? ICON_SIZE;
---

<a
  href={href}
  title={`Link to ${title}`}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    css({
      color: color ?? "iconDefault",
      _hover: {
        filter: { base: "brightness(0.7)", _dark: "brightness(0.5)" },
      },
    }),
    color,
  ]}
>
		<Icon name={name} class={css({
			width: {base: isZenn ? "1rem" : MOBILE_ICON_SIZE, sm: isZenn ? "2rem" : iconSize},
			height: {base: isZenn ? "1rem" : MOBILE_ICON_SIZE, sm: isZenn ? "2rem" : iconSize},
			})}
		/>
</a>
