---
import { Icon } from "astro-icon/components";
import { css } from "root/styled-system/css";

interface Props {
  prev: string | undefined;
  next: string | undefined;
}

const { prev, next } = Astro.props;
---

<div
	class={css({
		display: "flex",
		justifyContent: "space-between",
		mt: "auto",
	})}
>
	{
		prev ? (
			<a
				href={prev}
				title="prev page"
				class={css({
					fontWeight: "bold",
					display: "flex",
					alignItems: "center",
					_hover: { color: "accent" },
				})}
			>
				<Icon
					name="mdi:chevron-left"
					class={css({ mr: 2, w: "1.5rem", h: "1.5rem" })}
				/>
				<span>Back</span>
			</a>
		) : (
			<div />
		)
	}
	{
		next ? (
			<a
				href={next}
				title="next page"
				class={css({
					fontWeight: "bold",
					display: "flex",
					alignItems: "center",
					_hover: { color: "accent" },
				})}
			>
				<span>Next</span>
				<Icon
					name="mdi:chevron-right"
					class={css({ ml: 2, w: "1.5rem", h: "1.5rem" })}
				/>
			</a>
		) : (
			<div />
		)
	}
</div>
