---
import ExternalLink from "@/components/ExternalLink.astro";

interface Props {
  author: string;
  authorUrl: string;
}

const { author, authorUrl } = Astro.props;
const UNSPLASH_URL = "https://unsplash.com";
---

<span>Photo by &nbsp;</span>
<ExternalLink href={authorUrl} title={author}>
  {author}
</ExternalLink>
<span>&nbsp; on &nbsp;</span>
<ExternalLink href={UNSPLASH_URL} title="Unsplash">Unsplash</ExternalLink>
