---
import { css } from "root/styled-system/css";
import { Icon } from "astro-icon/components";
import ExternalLink from "@/components/ExternalLink.astro";
import { SITE_REPOSITORY_URL } from "@/consts.ts";
import IconLink from "@/components/IconLink.astro";

const today = new Date();

const footerStye = css({
  display: "flex",
  flexDirection: "column",
  justifyContent: "center",
  alignItems: "center",
  gap: "0.5rem",
  p: { base: "0.5rem 2rem", sm: "0.5rem 3rem" },
  backgroundColor: "accent-background",
  color: "accent-background-text",
  fontSize: { base: "small", sm: "large" },
  fontFamily: "code",
});
---

<footer class={footerStye}>
  <div>
    &copy; {today.getFullYear()} hayapo. All rights reserved.
  </div>
  <div>
    This site is powered by
    <ExternalLink href="https://astro.build/" title="Astro">Astro</ExternalLink>
  </div>
  <div class={css({ display: "flex", gap: "1.0rem", alignItems: "center" })}>
    <IconLink
      href={SITE_REPOSITORY_URL}
      title="Link to Github"
			name="mdi:github"
			size="1rem"
    />
    <IconLink href="/blog/rss.xml" title="RSS feed" name="mdi:rss-box"  size="1rem"/>
  </div>
</footer>
