---
import "../styles/index.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;

const siteTitle = title ?? SITE_TITLE;
const siteDescription = description ?? SITE_DESCRIPTION;
const ogImage = new URL(image ?? "/ogp.webp", Astro.url.origin);
---

<!doctype html>
<html lang="ja">
  <Head title={siteTitle} description={siteDescription} image={ogImage} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
